:root {
    --text-align: center;
    --heigth: auto;
    --color: darkblue;
}

nav {
    background-color: var(--color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: var(--color);
}
img{
    width: 150px;
    height: var(--heigth);
    border:  1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main {
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb (0 0 0 /0.2); 
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align)
}
aside img {
    width:  200px;
    height: var(--heigth);
}
main img {
    width: 150px;
    height: var(--heigth);
    
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);

}